In [1]:
import pandas as pd

In [2]:
dataset_path = "./dataset/movie_without_december.tsv"

In [4]:
df = pd.read_csv(dataset_path, sep="\t")

In [6]:
df

,day,day_number,month,daytime,hour,title,duration,channel
0,Martedì,25,gennaio,notte,01:01,Piccolo grande aaron,105',Iris
1,Martedì,25,gennaio,notte,01:10,Match Point,125',Sky Cinema Due
2,Martedì,25,gennaio,notte,01:10,The Blind Side,130',Sky Cinema Due +24
3,Martedì,25,gennaio,notte,01:15,From Paris with love,95',Sky Cinema Action
4,Martedì,25,gennaio,notte,01:22,Volesse il cielo,87',Cine34
...,...,...,...,...,...,...,...,...
69621,Domenica,24,aprile,pomeriggio,16:15,Transformers 4,165',Harry Potter Collection
69622,Domenica,24,aprile,pomeriggio,16:15,Cloud Atlas,175',Sky Cinema Drama
69623,Domenica,24,aprile,pomeriggio,16:35,Il Padrino,175',Sky Cinema 4K
69624,Domenica,24,aprile,pomeriggio,16:55,Tre piani,125',Sky Cinema Due
69625,Domenica,24,aprile,pomeriggio,16:55,Delicieux: l'amore e' servito,120',Sky Cinema Due +24

In [7]:
# Make titles in lower case
df['title'] = df['title'].str.lower()

In [8]:
tv_movies = df['title'].unique()

In [10]:
tv_movies.shape

(7749,)

In [14]:
kaggle_path = "./dataset/Kaggle/ImdbTitleBasics.csv"

In [15]:
df_imdb = pd.read_csv(kaggle_path, sep=",")

c:\Users\flori\miniconda3\envs\DL\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [16]:
df_imdb

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
1048570,tt10140376,tvSeries,Começar do Zero,Começar do Zero,0,2019,\N,90,Reality-TV
1048571,tt10140378,tvEpisode,Corey Hart,Corey Hart,0,2019,\N,\N,Talk-Show
1048572,tt1014037,tvEpisode,Escape,Escape,0,2008,\N,29,Documentary
1048573,tt10140380,short,Fear of Dogs,Fear of Dogs,0,1994,\N,\N,"Drama,Short"
1048574,tt10140382,tvEpisode,Wondercon Anaheim 2019 (Highlights),Wondercon Anaheim 2019 (Highlights),0,2019,\N,\N,Music

In [19]:
df_imdb.rename(columns = {'originalTitle':'title'}, inplace = True)
df_imdb['title'] = df_imdb['title'].str.lower()
df_imdb['primaryTitle'] = df_imdb['primaryTitle'].str.lower()

In [20]:
only_movies = df_imdb[df_imdb['titleType'] == "movie"]

In [21]:
only_movies_without_duplicates = only_movies.drop_duplicates(subset=['title'], keep=False)

In [22]:
only_movies_without_duplicates

,tconst,titleType,primaryTitle,title,isAdult,startYear,endYear,runtimeMinutes,genres
570,tt0000574,movie,The Story of the Kelly Gang,the story of the kelly gang,0,1906,\N,70,"Action,Adventure,Biography"
672,tt0000679,movie,The Fairylogue and Radio-Plays,the fairylogue and radio-plays,0,1908,\N,120,"Adventure,Fantasy"
729,tt0000739,movie,El pastorcito de Torrente,el pastorcito de torrente,0,1908,\N,\N,Drama
804,tt0000814,movie,La bocana de Mar Chica,la bocana de mar chica,0,1909,\N,\N,\N
828,tt0000838,movie,A Cultura do Cacau,a cultura do cacau,0,1909,\N,\N,\N
...,...,...,...,...,...,...,...,...,...
1048453,tt10140138,movie,Krocken,krocken,0,2018,\N,82,"Comedy,Drama"
1048479,tt10140192,movie,Le calvaire de Mignon,le calvaire de mignon,0,1917,\N,55,Romance
1048497,tt10140224,movie,Inner Child,inner child,0,\N,\N,\N,"Fantasy,Thriller"
1048537,tt10140310,movie,A Rock N' Roll Heart,a rock n' roll heart,0,2019,\N,77,"Comedy,Romance"
1048566,tt10140360,movie,Another Night in China,another night in china,1,2009,\N,\N,Adult

In [25]:
df_merge = pd.merge(df, only_movies_without_duplicates, how="inner", on="title")

In [26]:
titles_merge = df_merge['title'].unique()

In [27]:
titles_merge.shape

(1751,)