In [1]:
import pandas as pd
from pathlib import Path

In [2]:
dataset_path = "./dataset/movie_without_december.tsv"

In [3]:
df = pd.read_csv(dataset_path, sep="\t")

In [4]:
# Make titles in lower case
df['title'] = df['title'].str.lower()

In [5]:
tv_movies = df['title'].unique()

In [6]:
tv_movies.shape

(7749,)

In [7]:
kaggle_path = "./dataset/Kaggle/ImdbTitleBasics.csv"

In [8]:
df_imdb = pd.read_csv(kaggle_path, sep=",")

/var/folders/sb/bx6435tn2yb06x0mkcs9w5rw0000gn/T/ipykernel_74342/2390842129.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_imdb = pd.read_csv(kaggle_path, sep=",")

In [9]:
df_imdb

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
1048570,tt10140376,tvSeries,Começar do Zero,Começar do Zero,0,2019,\N,90,Reality-TV
1048571,tt10140378,tvEpisode,Corey Hart,Corey Hart,0,2019,\N,\N,Talk-Show
1048572,tt1014037,tvEpisode,Escape,Escape,0,2008,\N,29,Documentary
1048573,tt10140380,short,Fear of Dogs,Fear of Dogs,0,1994,\N,\N,"Drama,Short"
1048574,tt10140382,tvEpisode,Wondercon Anaheim 2019 (Highlights),Wondercon Anaheim 2019 (Highlights),0,2019,\N,\N,Music

In [10]:
df_imdb.rename(columns = {'originalTitle':'title'}, inplace = True)
df_imdb['title'] = df_imdb['title'].str.lower()
df_imdb['primaryTitle'] = df_imdb['primaryTitle'].str.lower()

In [11]:
only_movies = df_imdb[df_imdb['titleType'] == "movie"]

In [12]:
only_movies_without_duplicates = only_movies.drop_duplicates(subset=['title'], keep=False)

In [13]:
only_movies_without_duplicates

,tconst,titleType,primaryTitle,title,isAdult,startYear,endYear,runtimeMinutes,genres
570,tt0000574,movie,the story of the kelly gang,the story of the kelly gang,0,1906,\N,70,"Action,Adventure,Biography"
672,tt0000679,movie,the fairylogue and radio-plays,the fairylogue and radio-plays,0,1908,\N,120,"Adventure,Fantasy"
729,tt0000739,movie,el pastorcito de torrente,el pastorcito de torrente,0,1908,\N,\N,Drama
804,tt0000814,movie,la bocana de mar chica,la bocana de mar chica,0,1909,\N,\N,\N
828,tt0000838,movie,a cultura do cacau,a cultura do cacau,0,1909,\N,\N,\N
...,...,...,...,...,...,...,...,...,...
1048453,tt10140138,movie,krocken,krocken,0,2018,\N,82,"Comedy,Drama"
1048479,tt10140192,movie,le calvaire de mignon,le calvaire de mignon,0,1917,\N,55,Romance
1048497,tt10140224,movie,inner child,inner child,0,\N,\N,\N,"Fantasy,Thriller"
1048537,tt10140310,movie,a rock n' roll heart,a rock n' roll heart,0,2019,\N,77,"Comedy,Romance"
1048566,tt10140360,movie,another night in china,another night in china,1,2009,\N,\N,Adult

In [14]:
df_merge = pd.merge(df, only_movies_without_duplicates, how="inner", on="title")

In [15]:
titles_merge = df_merge['title'].unique()

In [16]:
titles_merge.shape

(1751,)

In [17]:
rating_path = "./dataset/Kaggle/ImdbTitleRatings.csv"
df_rating  = pd.read_csv(rating_path, sep=",")
df_merge = pd.merge(df_merge,df_rating, how="inner", on="tconst")
df_merge

,day,day_number,month,daytime,hour,title,duration,channel,tconst,titleType,primaryTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,Martedì,25,gennaio,notte,01:10,match point,125',Sky Cinema Due,tt0416320,movie,match point,0,2005,\N,124,"Drama,Romance,Thriller",7.6,207540
1,Martedì,26,aprile,notte,04:35,match point,125',Sky Cinema Due,tt0416320,movie,match point,0,2005,\N,124,"Drama,Romance,Thriller",7.6,207540
2,Domenica,6,febbraio,notte,02:50,match point,125',Sky Cinema Due +24,tt0416320,movie,match point,0,2005,\N,124,"Drama,Romance,Thriller",7.6,207540
3,Mercoledì,10,agosto,sera,23:10,match point,141',Iris,tt0416320,movie,match point,0,2005,\N,124,"Drama,Romance,Thriller",7.6,207540
4,Mercoledì,26,gennaio,notte,01:10,match point,125',Sky Cinema Due +24,tt0416320,movie,match point,0,2005,\N,124,"Drama,Romance,Thriller",7.6,207540
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12631,Lunedì,9,maggio,mattina,08:11,le soldatesse,139',Iris,tt0059732,movie,the camp followers,0,1965,\N,119,"Drama,War",7.5,434
12632,Giovedì,24,marzo,notte,05:15,il figlio di bakunin,86',Iris,tt0126300,movie,the son of bakunin,0,1997,\N,89,Drama,7.1,37
12633,Venerdì,2,settembre,notte,02:30,6000 km di paura,92',Rete 4,tt0078194,movie,safari rally,0,1978,\N,90,"Action,Adventure",4.8,34
12634,Martedì,12,aprile,notte,01:28,la guerra dei robot,94',Cine34,tt0077640,movie,war of the robots,0,1978,\N,103,"Adventure,Sci-Fi",2.7,713
12635,Venerdì,22,luglio,notte,02:25,la polizia ha le mani legate,97',Rete 4,tt0072008,movie,killer cop,0,1975,\N,95,"Action,Crime,Drama",6.7,326

In [18]:
#Remove columns not necessary
df_merge.pop('tconst')
df_merge.pop('isAdult')
df_merge.pop('endYear')
df_merge.pop('numVotes')
df_merge.pop('primaryTitle')
df_merge.pop('titleType')

0        movie
1        movie
2        movie
3        movie
4        movie
         ...
12631    movie
12632    movie
12633    movie
12634    movie
12635    movie
Name: titleType, Length: 12636, dtype: object

In [19]:
df_merge.rename(columns = {'duration':'duration_with_adv', 'startYear':'year', 'runtimeMinutes':'duration', 'averageRating':'rating', }, inplace = True)
data = df_merge
data

,day,day_number,month,daytime,hour,title,duration_with_adv,channel,year,duration,genres,rating
0,Martedì,25,gennaio,notte,01:10,match point,125',Sky Cinema Due,2005,124,"Drama,Romance,Thriller",7.6
1,Martedì,26,aprile,notte,04:35,match point,125',Sky Cinema Due,2005,124,"Drama,Romance,Thriller",7.6
2,Domenica,6,febbraio,notte,02:50,match point,125',Sky Cinema Due +24,2005,124,"Drama,Romance,Thriller",7.6
3,Mercoledì,10,agosto,sera,23:10,match point,141',Iris,2005,124,"Drama,Romance,Thriller",7.6
4,Mercoledì,26,gennaio,notte,01:10,match point,125',Sky Cinema Due +24,2005,124,"Drama,Romance,Thriller",7.6
...,...,...,...,...,...,...,...,...,...,...,...,...
12631,Lunedì,9,maggio,mattina,08:11,le soldatesse,139',Iris,1965,119,"Drama,War",7.5
12632,Giovedì,24,marzo,notte,05:15,il figlio di bakunin,86',Iris,1997,89,Drama,7.1
12633,Venerdì,2,settembre,notte,02:30,6000 km di paura,92',Rete 4,1978,90,"Action,Adventure",4.8
12634,Martedì,12,aprile,notte,01:28,la guerra dei robot,94',Cine34,1978,103,"Adventure,Sci-Fi",2.7
12635,Venerdì,22,luglio,notte,02:25,la polizia ha le mani legate,97',Rete 4,1975,95,"Action,Crime,Drama",6.7

In [20]:
number_movies = data.groupby(["channel","month"])["channel"].count()
from pathlib import Path  
filepath = Path('./dataset/Kaggle/number_movies.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
number_movies.to_csv(filepath)

In [21]:
mov = pd.read_csv('./dataset/Kaggle/number_movies.csv', sep=",")
final_df = pd.merge(data, mov, on=["month","channel"])
final_df.rename(columns = {'channel.1':'number_movies'}, inplace = True)

filepath = Path('./dataset/Kaggle/final_df.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
final_df.to_csv(filepath)

In [23]:
final_df = pd.read_csv('./dataset/Kaggle/final_df.csv', sep=",")
# data["duration"] = pd.to_numeric(data["duration"], downcast="float")
mean_duration = final_df.groupby(["channel","month"])["duration"].mean()
filepath = Path('./dataset/Kaggle/mean_duration.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
mean_duration.to_csv(filepath)
mean_duration =  pd.read_csv('./dataset/Kaggle/mean_duration.csv', sep=",")

In [24]:
mean_duration_with_adv = final_df.groupby(["channel","month"])["duration_with_adv"].mean()
filepath = Path('./dataset/Kaggle/mean_duration.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
mean_duration_with_adv.to_csv(filepath)
mean_duration_with_adv =  pd.read_csv('./dataset/Kaggle/mean_duration.csv', sep=",")
duration = pd.merge(mean_duration, mean_duration_with_adv, on=["month","channel"])
final_df = pd.merge(final_df, duration, on=["month","channel"])
final_df

,Unnamed: 0,day,day_number,month,daytime,hour,title,duration_with_adv_x,channel,year,duration_x,genres,rating,number_movies,duration_y,duration_with_adv_y
0,0,Martedì,25,gennaio,notte,01:10,match point,125,Sky Cinema Due,2005,124,"Drama,Romance,Thriller",7.6,66,113.030303,126.136364
1,1,Lunedì,24,gennaio,notte,01:10,the blind side,130,Sky Cinema Due,2009,129,"Biography,Drama,Sport",7.6,66,113.030303,126.136364
2,2,Giovedì,20,gennaio,pomeriggio,13:35,la leggenda del pianista sulloceano,170,Sky Cinema Due,1998,169,"Drama,Music,Romance",8.1,66,113.030303,126.136364
3,3,Sabato,29,gennaio,notte,04:10,il profeta,155,Sky Cinema Due,1968,100,Comedy,6.1,66,113.030303,126.136364
4,4,Mercoledì,5,gennaio,sera,23:05,michael clayton,125,Sky Cinema Due,2007,119,"Crime,Drama,Mystery",7.2,66,113.030303,126.136364
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12631,12631,Sabato,26,novembre,sera,23:00,almost dead,85,San Marino RTV,1994,92,"Horror,Mystery,Thriller",4.8,1,92.000000,85.000000
12632,12632,Sabato,16,luglio,notte,00:40,artemisia,115,La7D,1997,98,"Biography,Drama,History",6.6,1,98.000000,115.000000
12633,12633,Sabato,27,agosto,notte,00:50,shine a light,130,La7D,2008,122,"Biography,Documentary,Music",7.2,2,139.000000,147.500000
12634,12634,Mercoledì,17,agosto,sera,21:20,scent of a woman,165,La7D,1992,156,Drama,8.0,2,139.000000,147.500000
12635,12635,Sabato,23,luglio,pomeriggio,12:55,"looney, looney, looney bugs bunny movie",80,Cartoonito,1981,79,"Animation,Comedy,Crime",7.2,1,79.000000,80.000000

In [26]:
duration
filepath = Path('./dataset/Kaggle/mean_duration.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
duration.to_csv(filepath)

In [ ]:
final_df.rename(columns = {'duration_with_adv_x':'duration_with_adv', 'duration_x':'duration','duration_y' : 'duration_mean', 'duration_with_adv_y' : 'duration_with_adv_mean'  }, inplace = True)
final_df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [ ]:
filepath = Path('./dataset/Kaggle/final_df.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
final_df.to_csv(filepath)